:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

.main__container {
  display: flex;
  height: 100%;
  width: 75%;
  margin: 3rem auto;
}

.image__hero {
  width: 470px;
  border-radius: 1rem;
}

.image__mini {
  width: 470px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.43rem;
}

.image__mini>img {
  width: 100px;
  border-radius: .5rem;
  margin-top: 1rem;
}