@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 75%;
  margin: 5rem auto;
  gap: 5rem;
}

.image__hero {
  width: 470px;
  border-radius: 1rem;
}

.image__mini {
  width: 470px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.43rem;
}

.image__mini>img {
  width: 100px;
  border-radius: .5rem;
  margin-top: 1.5rem;
}

.main__secction_text {
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__secction_text>h5 {
  color: var(--Orange);
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 900;
}

.main__secction_text>h1 {
  font-size: 2.5em;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.main__secction_text>p {
  color: var(--Grayish-blue);
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 1.6rem;
}

.section__price {
  margin-bottom: .5rem;
}

.section__price>span:first-child {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 1rem;
}

.section__price>span:last-child {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--Orange);
  padding: 1px 10px;
  background-color: var(--Pale-orange);
  border-radius: 10px;
}

.price__disc {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: var(--Grayish-blue);
  text-decoration: line-through;
  margin-bottom: 2rem;
}

.section__add {
  display: flex;
  align-items: center;
}

.section__add_buttons {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  width: 100%;
}

.btn__minus {
  border-radius: 10px 0 0 10px;
  padding: 1rem 1.5rem;
  border: none;
  font-size: 1.2em;
}
.btn__minus>img {
  padding: 4px 0;
}

.btn__count {
  font-weight: bold;
  padding: 1rem 1.5rem;
  border: none;
  font-size: 1.2em;
}

.btn__plus {
  border-radius: 0 10px 10px 0;
  padding: 1rem 1.5rem;
  border: none;
  font-size: 1.2em;
}

.btn__add {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: -webkit-fill-available;
  padding: 1.1rem 1.5rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Kumbh Sans', sans-serif;
  color: var(--White);
  background-color: var(--Orange);
  box-shadow: 0 30px 30px var(--Pale-orange);
}

.btn__add>img {
  margin-right: 1rem;
}

@media (max-width: 1025px) {
  .main__container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
  }
}

@media (max-width: 768px) {
  .main__container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
  }

  .main__secction_img {
    margin-bottom: 3rem;
  }

  .nav__menu {
    border-radius: 0px;
  }
}

@media (max-width: 426px) {
  .main__container  {
    margin: 0px;
  }

  .image__hero {
    width: 100%;
    border-radius: 0px;
  }

  .image__mini {
    display: none;
  }

  .main__secction_img {
    margin-bottom: 0px;
  }
  .main__secction_text {
    width: 90%;
    margin-bottom: 3rem;
  }

  .main__secction_text>h1 {
    font-size: 2em;
    margin-bottom: 1rem;
  }

  .main__secction_text>p {
    margin-bottom: 1rem;
  }

  .section__price>span:first-child {
    font-size: 1.5rem;
  }

  .section__price>span:last-child {
    font-size: 1rem;
    border-radius: 5px;
  }

  .section__add {
    display: block;
    margin: 0px;
    width: 100%;
  }

  .section__add_buttons {
    margin-bottom: 1rem;
    width: 100%;
  }

  .btn__count {
    width: 100%;
  }

  .btn__add {
    width: 100%;
  }
}