
:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

.nav {
  height: 100px;
  width: 80%;
  margin: 0 auto;
  color: var(--White);
  border-bottom: 1px solid var(--Grayish-blue);
}

.nav__container {
  display: flex;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  line-height: 100%;
}

.nav__flex {
  display: flex;
  align-items: center;
}

.nav__logo {
  margin-right: 3rem;
}

.nav__label, .nav__input {
  display: none;
}

.nav__menu {
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
}

.nav__item {
  color: var(--Grayish-blue);
  font-weight: 700;
  padding: 40px 0;
  text-decoration: none;
}

.nav__item:hover {
  text-decoration: underline var(--Orange);
}

.nav__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__avatar_cart {
  margin-right: 3rem;
}

.nav__avatar_avatar {
  height: 3rem;
}

@media (max-width: 768px) {

  .nav__flex {
    flex-direction: row-reverse;
  }
  .nav__label {
    cursor: pointer;
    display: flex;
    align-self: end;
  }
  .nav__menu {
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: none;
    padding-left: 5rem;
    padding-top: 3rem;
    position: fixed;
    top: 99px;
    bottom: 0;
    width: 50%;
    left: 0;
    border-radius: 5% 0px 0 5%;
    background-color: var(--Light-grayish-blue);
    clip-path: circle(0 at left);
    transition: clip-path .8s ease-in-out;
  }

  .nav__input:checked + .nav__menu {
    clip-path: circle(100% at center);
  }

  .nav__item {
    padding: 0;
  }

  .nav__img {
    margin-right: 1rem;
  }

}

@media (max-width: 476px) {

  .nav {
    height: 70px;
    border-bottom: none;
  }
  .nav__logo {
    margin-right: 1rem;
  }
  .nav__menu {
    width: 70%;
    top: 70px;
    padding-left: 2rem;
    align-items: flex-start;
    justify-content: none;
  }

  .nav__avatar_cart {
    margin-right: 1rem;
  }

  .nav__avatar_avatar {
    height: 2rem;
  }
}